Service References/SVC/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WpfHost" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllRendezVousParMedecin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idmedecin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRendezVousParMedecinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllRendezVousParMedecinResult" nillable="true" type="q1:ArrayOfRendezVou" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRendezVousParPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idpatient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRendezVousParPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllRendezVousParPatientResult" nillable="true" type="q2:ArrayOfRendezVou" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRendezVous">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="date2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRendezVousResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllRendezVousResult" nillable="true" type="q3:ArrayOfRendezVou" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRendezVousAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRendezVousAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllRendezVousAllResult" nillable="true" type="q4:ArrayOfRendezVou" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRendez">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q5:RendezVou" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRendezResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRendezVous">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q6:RendezVou" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRendezVousResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRendezVous">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q7:RendezVou" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRendezVousResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllPatientResult" nillable="true" type="q8:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientPAR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PAT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientPARResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllPatientPARResult" nillable="true" type="q9:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatienteEXISTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatienteEXISTEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllPatienteEXISTEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientNomPrenom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PAT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientNomPrenomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllPatientNomPrenomResult" nillable="true" type="q10:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientBYID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idpatient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientBYIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllPatientBYIDResult" nillable="true" type="q11:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q12:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q13:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q14:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="client" nillable="true" type="q15:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllClientResult" nillable="true" type="q16:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientDict">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllClientDictResult" nillable="true" type="q17:ArrayOfKeyValueOfClientanyTypejr2zEziX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="LocalClient" nillable="true" type="q18:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Say">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="msg" nillable="true" type="q19:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Whisper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="msg" nillable="true" type="q20:Message" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="receiver" nillable="true" type="q21:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWriting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="client" nillable="true" type="q22:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="fileMsg" nillable="true" type="q23:FileMessage" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="receiver" nillable="true" type="q24:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="client" nillable="true" type="q25:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificationCle1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificationCle1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificationCle1Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientTest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDiagnosticRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDiagnosticRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterArrettravailRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterArrettravailRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDictionnaireRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDictionnaireRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterProduitOrdonnaceRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterProduitOrdonnaceRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDepenseRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDepenseRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterActeCatalogueRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterActeCatalogueRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterSoldeVisiteRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterSoldeVisiteRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterPatientRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterPatientRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterEnteteOrdonnaceOrdonnancePatientRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterEnteteOrdonnaceOrdonnancePatientRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDciiRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDciiRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterCasTraitementRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterCasTraitementRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterTransactionPaiementRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterTransactionPaiementRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterSalleAtentefRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterSalleAtentefRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterRendezVOUSfRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterRendezVOUSfRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SalleAttenteDemandeChezLeMedecin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="PatientDemandé" nillable="true" type="q26:Patient" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="PatientInSalleATTENTE" nillable="true" type="q27:SalleDattente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalleAttenteDemandeChezLeMedecinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDicomImageRefresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDicomImageRefreshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadDocumentResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDocumentIsHere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDocumentIsHereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadDocumentIsHereResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllParamétre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllParamétreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllParamétreResult" nillable="true" type="q28:Param" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParamétre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q29:Param" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParamétreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDictionnaire">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDictionnaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllDictionnaireResult" nillable="true" type="q30:ArrayOfDictionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDictionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q31:Dictionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDictionnaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDictionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q32:Dictionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDictionnaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDictionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q33:Dictionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDictionnaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutreBilan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutreBilanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllAutreBilanResult" nillable="true" type="q34:ArrayOfAutreBilan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAutreBilan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q35:AutreBilan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAutreBilanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAutreBilan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q36:AutreBilan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAutreBilanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAutreBilan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q37:AutreBilan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAutreBilanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDiagnostic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDiagnosticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllDiagnosticResult" nillable="true" type="q38:ArrayOfDiagnostic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDiagnostic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q39:Diagnostic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDiagnosticResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDiagnostic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q40:Diagnostic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDiagnosticResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDiagnostic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q41:Diagnostic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDiagnosticResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEnteteOrdonnace">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEnteteOrdonnaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllEnteteOrdonnaceResult" nillable="true" type="q42:ArrayOfEnteteOrdonnace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEnteteOrdonnace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q43:EnteteOrdonnace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEnteteOrdonnaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEnteteOrdonnace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q44:EnteteOrdonnace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEnteteOrdonnaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEnteteOrdonnace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q45:EnteteOrdonnace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEnteteOrdonnaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdonnancePatient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdonnancePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllOrdonnancePatientResult" nillable="true" type="q46:ArrayOfOrdonnancePatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrdonnancePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q47:OrdonnancePatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrdonnancePatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrdonnancePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q48:OrdonnancePatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrdonnancePatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrdonnancePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q49:OrdonnancePatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrdonnancePatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllActeResult" nillable="true" type="q50:ArrayOfActe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertActe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q51:Acte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertActeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q52:Acte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q53:Acte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCatalogue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCatalogueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllCatalogueResult" nillable="true" type="q54:ArrayOfCatalogue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCatalogue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q55:Catalogue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCatalogueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCatalogue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q56:Catalogue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCatalogueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCatalogue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q57:Catalogue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCatalogueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepeiementMultiple">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepeiementMultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllDepeiementMultipleResult" nillable="true" type="q58:ArrayOfDepeiementMultiple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepeiementMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q59:DepeiementMultiple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepeiementMultipleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepeiementMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q60:DepeiementMultiple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepeiementMultipleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepeiementMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q61:DepeiementMultiple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepeiementMultipleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepeiment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepeimentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllDepeimentResult" nillable="true" type="q62:ArrayOfDepeiment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepeiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q63:Depeiment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepeimentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepeiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q64:Depeiment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepeimentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepeiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q65:Depeiment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepeimentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDicomFichier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDicomFichierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllDicomFichierResult" nillable="true" type="q66:ArrayOfDicomFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDicomFichier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q67:DicomFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDicomFichier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q68:DicomFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDicomFichierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDicomFichier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q69:DicomFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDicomFichierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArretDetravail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArretDetravailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllArretDetravailResult" nillable="true" type="q70:ArrayOfArretDetravail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArretDetravail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q71:ArretDetravail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArretDetravailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArretDetravail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q72:ArretDetravail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArretDetravailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProduitOrdonnance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProduitOrdonnanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllProduitOrdonnanceResult" nillable="true" type="q73:ArrayOfProduitOrdonnance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProduitOrdonnance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q74:ProduitOrdonnance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProduitOrdonnanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduitOrdonnance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q75:ProduitOrdonnance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduitOrdonnanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduitOrdonnance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q76:ProduitOrdonnance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduitOrdonnanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDci">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDciResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllDciResult" nillable="true" type="q77:ArrayOfDci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDci">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q78:Dci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDciResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDci">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q79:Dci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDciResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletDci">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q80:Dci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletDciResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepense">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllDepenseResult" nillable="true" type="q81:ArrayOfDepense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q82:Depense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q83:Depense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q84:Depense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMotifDepense">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMotifDepenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllMotifDepenseResult" nillable="true" type="q85:ArrayOfMotifDepense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMotifDepense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q86:MotifDepense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMotifDepense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q87:MotifDepense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMotifDepenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMotifDepense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q88:MotifDepense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMotifDepenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSalleDattente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Date2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSalleDattenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllSalleDattenteResult" nillable="true" type="q89:ArrayOfSalleDattente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSalleDattenteALL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSalleDattenteALLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllSalleDattenteALLResult" nillable="true" type="q90:ArrayOfSalleDattente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSalleDatente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q91:SalleDattente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSalleDatenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalleDattente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q92:SalleDattente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalleDattenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSalleDattente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q93:SalleDattente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSalleDattenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTypeCas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTypeCasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllTypeCasResult" nillable="true" type="q94:ArrayOfTypeCa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTypeCas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q95:TypeCa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypeCas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q96:TypeCa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypeCasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypeCas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q97:TypeCa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypeCasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConstantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConstantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllConstantesResult" nillable="true" type="q98:ArrayOfConstante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConstantesByPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codepatient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConstantesByPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllConstantesByPatientResult" nillable="true" type="q99:ArrayOfConstante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertConstante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q100:Constante" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertConstanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConstante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q101:Constante" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConstanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConstante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q102:Constante" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConstanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTraitement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTraitementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllTraitementResult" nillable="true" type="q103:ArrayOfCasTraitement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTypeTraitement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q104:CasTraitement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTypeTraitementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypeTraitement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q105:CasTraitement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypeTraitementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypeTraitement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q106:CasTraitement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypeTraitementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="date2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllVisiteResult" nillable="true" type="q107:ArrayOfVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllVisiteAllResult" nillable="true" type="q108:ArrayOfVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteByVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idpatient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteByVisiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllVisiteByVisiteResult" nillable="true" type="q109:ArrayOfVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteByClepatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clepatient" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteByClepatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllVisiteByClepatientResult" nillable="true" type="q110:ArrayOfVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteByVisiteMedecin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idmedecin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisiteByVisiteMedecinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllVisiteByVisiteMedecinResult" nillable="true" type="q111:ArrayOfVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q112:Visite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVisiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q113:Visite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q114:Visite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVisiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMedecin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMedecinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllMedecinResult" nillable="true" type="q115:ArrayOfMedecin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMedecin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q116:Medecin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMedecinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMedecin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q117:Medecin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMedecinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedecin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q118:Medecin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedecinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpécialité">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpécialitéResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllSpécialitéResult" nillable="true" type="q119:ArrayOfSpécialité" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSpécialité">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q120:Spécialité" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSpécialitéResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpécialité">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q121:Spécialité" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpécialitéResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpécialité">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q122:Spécialité" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpécialitéResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMotifVisite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMotifVisiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllMotifVisiteResult" nillable="true" type="q123:ArrayOfMotifVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMotifVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q124:MotifVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMotifVisiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMotifVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q125:MotifVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMotifVisiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMotifVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q126:MotifVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMotifVisiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMembership">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMembershipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllMembershipResult" nillable="true" type="q127:ArrayOfMembership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q128:Membership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMembershipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q129:Membership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMembershipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q130:Membership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMembershipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExclusionDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExclusionDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="GetAllExclusionDayResult" nillable="true" type="q131:ArrayOfExclusionDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExclusionDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q132:ExclusionDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExclusionDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertExclusionDayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExclusionDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExclusionDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExclusionDayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExclusionDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="obj" nillable="true" type="q133:ExclusionDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExclusionDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExclusionDayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshArretDetravails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="clients" nillable="true" type="q134:ArrayOfArretDetravail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="clients" nillable="true" type="q135:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="membership" nillable="true" type="q136:ArrayOfMembership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshMedecin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q137:ArrayOfMedecin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q138:Patient" />
        <xs:element minOccurs="0" name="patient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshSpécialité">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q139:ArrayOfSpécialité" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshRendezVous">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q140:RendezVou" />
        <xs:element minOccurs="0" name="opertype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDepense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q141:Depense" />
        <xs:element minOccurs="0" name="oper" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshMotifDepense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q142:ArrayOfMotifDepense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshMotifVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q143:ArrayOfMotifVisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTypeCas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q144:ArrayOfTypeCa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshCasTraitement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q145:ArrayOfCasTraitement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshVisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q146:Visite" />
        <xs:element minOccurs="0" name="oper" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshConstante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q147:ArrayOfConstante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDicom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q148:ArrayOfDicomFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshParametre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q149:Param" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshSalleDattente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q150:SalleDattente" />
        <xs:element minOccurs="0" name="oper" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDictionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q151:ArrayOfDictionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshEcranAcceuil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q152:Patient" />
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="selectPatientSalle" nillable="true" type="q153:SalleDattente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDepeiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q154:Depeiment" />
        <xs:element minOccurs="0" name="oper" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDepeimentMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q155:ArrayOfDepeiementMultiple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDci">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q156:ArrayOfDci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshCatalogue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q157:ArrayOfCatalogue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshActe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q158:ArrayOfActe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshProduitOrdonnance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q159:ProduitOrdonnance" />
        <xs:element minOccurs="0" name="oper" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshOrdonnancePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q160:ArrayOfOrdonnancePatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshEnteteOrdonnace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q161:ArrayOfEnteteOrdonnace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDiagnostic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="medecin" nillable="true" type="q162:ArrayOfDiagnostic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="msg" nillable="true" type="q163:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveWhisper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="msg" nillable="true" type="q164:Message" />
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="receiver" nillable="true" type="q165:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWritingCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="client" nillable="true" type="q166:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiverFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="fileMsg" nillable="true" type="q167:FileMessage" />
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="receiver" nillable="true" type="q168:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserJoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="client" nillable="true" type="q169:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLeave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/WpfHost" minOccurs="0" name="client" nillable="true" type="q170:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>